{% extends 'header_footer_user.html' %}
{% block content %}

	

	  <style type="text/css">
		#customers {
		  font-family: Arial, Helvetica, sans-serif;
		  border-collapse: collapse;
		  width: 80%;
		  margin-left: auto;
    	  margin-right: auto;
    	  margin-bottom: 100px;
    	  margin-top: 	auto;
    	  border: 10px;
		}

		#customers td, #customers th {
		  border: 1px solid #ddd;
		  padding: 8px;
		}

		#customers tr:nth-child(even){background-color: #f2f2f2;color: black;}

		#customers tr:nth-child(odd){background-color: #ddd;color: black;}

		#customers th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: black;
		  color: white;
		}

	</style>
	<div class="candidate_cv">
	<div class="services" id="services">
		<div class="container">
			<div class="tittle_head_w3ls">
				<br>
				<h3 class="tittle"><center>Note Details</center></h3><br><br>
			</div>


			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<!-- <h2 style="text-align:center">User Profile Card</h2> -->

<div class="card">

    <img src="{{ currency.image.url }}" alt="Currency" style="width:100%">

    <h2>{{ currency.result }}</h2>

</div>

			<div class="inner_sec_grids_info_w3ls">
					

	
  

				</div>
		
				<div class="clearfix"> </div>
			</div>
		</div>
	</div></div>


 {% if error %}
<script type="text/javascript">
  swal("Error!", "{{error}}", "error");
</script>
{% endif %}

{% if success %}
<script type="text/javascript">
  swal("Congrats!", "{{success}}", "success");
</script>
{% endif %}

{% if info %}
<script type="text/javascript">
  swal("Information!", "{{info}}", "info");
</script>
{% endif %}
{% endblock %}