{% extends 'header_footer.html' %}
{% block content %}

	

	  <style type="text/css">
		#customers {
		  font-family: Arial, Helvetica, sans-serif;
		  border-collapse: collapse;
		  width: 80%;
		  margin-left: auto;
    	  margin-right: auto;
    	  margin-bottom: 100px;
    	  margin-top: 	auto;
    	  border: 10px;
		}

		#customers td, #customers th {
		  border: 1px solid #ddd;
		  padding: 8px;
		}

		#customers tr:nth-child(even){background-color: #f2f2f2;color: black;}

		#customers tr:nth-child(odd){background-color: #ddd;color: black;}

		#customers th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: black;
		  color: white;
		}

	</style>
	<div class="candidate_cv">
	<div class="services" id="services">
		<div class="container">
			<div class="tittle_head_w3ls">
				<br>
				<h3 class="tittle"><center>Users List</center></h3><br><br>
			</div>
			<div class="inner_sec_grids_info_w3ls">
					<table id="customers" cellpadding="0" cellspacing="0" border="10">
		<thead>		
		<tr>
		<th style="text-align: center;" >Sl no</th>
		<th style="text-align: center;" > Name</th>
		<th style="text-align: center;"> Email</th>
		<th style="text-align: center;"> Phone</th>
		<th style="text-align: center;" >Place</th>
		<th style="text-align: center;" >Remove</th>
	</tr>
         </thead>
         <tbody>
{% for x in var %}

	<tr>
		<td style="text-align: center;" >{{forloop.counter}}</td>

		<td style="text-align: center;" >{{x.name}}</td>
		<td style="text-align: center;" >{{x.email}}</td>
		<td style="text-align: center;" >{{x.phone}}</td>
		<td style="text-align: center;" >{{x.place}}</td>
		<td style="text-align: center;" ><a href="/remove_user/?id={{x.id}}"><button>Remove</button></a></td>
		
	</tr>

		{% endfor %}
            </tbody>
	

	</table>
		
				</div>
		
				<div class="clearfix"> </div>
			</div>
		</div>
	</div></div>
 {% if error %}
<script type="text/javascript">
  swal("Error!", "{{error}}", "error");
</script>
{% endif %}

{% if success %}
<script type="text/javascript">
  swal("Congrats!", "{{success}}", "success");
</script>
{% endif %}

{% if info %}
<script type="text/javascript">
  swal("Information!", "{{info}}", "info");
</script>
{% endif %}
{% endblock %}